<h1>New Post</h1>

<form action="/posts" method="post">
  <%# add form fields %>
  <p>
    <label for="field1">Author</label>
    <input type="text" name="author" id="field1">
  </p>
 <p>
    <label for="field2">Body</label>
    <input type="text" name="body" id="field2">
  </p>
   <p>
    <label for="field3">Image URL</label>
    <input type="text" name="image" id="field3">
  </p>


  <button>Submit</button>
</form>
